.item {
    /* Estilos para el contenedor de la card */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    padding: auto;
    background-color: rgb(213, 74, 74);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
    /* Estilos para la imagen del producto */
.item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    /* Estilos para la sección de información del producto */
.item h3 {
      /* Estilos para el título del producto */
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
}
    